* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: FoundersGrotesk;
  src: url("../../fonts/FoundersGrotesk.ttf");
}

@font-face {
  font-family: NeueMontreal;
  src: url("../../fonts/NeueMontreal.ttf");
}

#main {
  width: 100%;
  /* height: 100vh; */
  background-color: #fff;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.formCtn {
  width: 50%;
  /* max-height: 100%; */
  background-color: #525659;
  padding: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.author {
  display: block;
  /* margin: 0.5rem 0; */
  width: 100%;
  height: 2.7rem;
  outline: none;
  font-size: 1.3rem;
  padding: 0 1rem;
  font-family: NeueMontreal;
}

.mainTitle {
  margin-bottom: 1rem;
  font-family: FoundersGrotesk;
  text-transform: uppercase;
  color: #fff;
}

form label {
  font-size: 1rem;
  font-family: NeueMontreal;
  display: inline-block;
  margin: 0.8rem 0;
  color: #fff;
}

.postBlog,
.myBlogBtn {
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  padding: 1rem 0;
  margin-top: 1rem;
  font-family: NeueMontreal;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.5s ease;
}

.postBlog:hover,
.myBlogBtn:hover {
  color: #525659;
  background-color: #fff;
}

.errormsg {
  color: #ff0000;
  margin-left: 1rem;
  font-family: NeueMontreal;
  background-color: #fff;
  width: max-content;
  padding: 0 0.5rem;
}

.successMsgShow {
  color: #008000;
  font-size: 1rem;
  font-family: NeueMontreal;
  margin-top: 1rem;
  display: inline-block;
  visibility: visible;
  background-color: #fff;
  width: max-content;
  padding: 0 0.5rem;
}

.successMsgShowHide {
  visibility: hidden;
  margin-top: 1rem;
  display: inline-block;
}

@media screen and (max-width: 1240px) {
  .formCtn {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .errormsg {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .errormsg {
    display: block;
    margin-bottom: 0.8rem;
    margin-left: 0;
  }

  .formCtn {
    width: 95%;
  }
}

@media screen and (max-width: 280px) {
  .formCtn {
    padding: 1rem;
  }
}
