@font-face {
  font-family: NeueMontreal;
  src: url("../../fonts/NeueMontreal.ttf");
}

.footerCtn {
  width: 100%;
  background-color: rgb(233, 233, 233);
  text-align: center;
  margin-top: 3rem;
  font-family: NeueMontreal;
}

.footerCtn div {
  padding: 3rem 0;
}

.footerCtn a {
  color: #000;
}
